<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717163064636-gv82ef5ojniih650bl6uh1joe927ff0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717163064636-gv82ef5ojniih650bl6uh1joe927ff0p</string>
	<key>API_KEY</key>
	<string>AIzaSyAh--jHYa857Yq6-3lPPYEWReeKKQK3gNo</string>
	<key>GCM_SENDER_ID</key>
	<string>717163064636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erin.eBoutique</string>
	<key>PROJECT_ID</key>
	<string>eboutique-f77fd</string>
	<key>STORAGE_BUCKET</key>
	<string>eboutique-f77fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:717163064636:ios:97de9bcf22e92956b38239</string>
</dict>
</plist>
